@import url("styles/header.css");

:root{
 --cor-de-fundo: #fffdef;
 --branco: #fefffc;
 --laranja: #ffc400;
 --amarelo: #000000;
 --roxo-degrade: linear-gradient(97.54deg, #343cb9 35.49%, #0e6eb3 165.37%);
 --preto: #1a0101;
 

}
body{
    background-color: var(--cor-de-fundo);
    
    
   

}

